body {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 15px;
}

.heading, .tools {
  padding: 30px;
  border-radius: 10px;
  background-color: #d7efff;
}

.heading-title {
  font-weight: 700;
  font-size: 48px;
  margin: 0px;
}

.heading-caption {
  font-size: 24px;
  font-weight: 400;
  margin: 0px;
}

.divider {
  height: 2px;
  background-color: black;
  border-radius: 10px;
  padding: 0px 10px;
}

.caption {
  font-size: 18px;
  font-weight: 700;
  margin: 0px;
  opacity: 50%;
}

.grid, .row {
  display: flex;
}

.grid {
  flex-direction: column;
  margin-top: 15px;
  height: 480px;
  width: 480px;
}

.row {
  flex: 1 1 auto;
}

.grid-box {
  border: 1px solid black;
  flex: 1 1 auto;
}

.size {
  margin-top: 10px;
  border-radius: 10px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  padding: 5px 25px;
  border: none;
  background-color: #ffffffdd;
}